* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
}
h3 {
  font-style: italic;
}
P {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.box1 {
  background: #a52a2a;
  height: 150px;
}
.box2 {
  background: #ff7f50;
  height: 150px;
}
.box3 {
  background: #deb887;
  height: 150px;
}
.box1, .box2, .box3 {
  margin-bottom: 15px;
}
.box {
  width: 100%;
}
#d1 {
  background: pink;
  text-align: center;
  width: 30%;
  border: 3px solid black;
  position: relative;
  margin-left: 70%;
}
#d2{
  background-color: #5f9ea0;
  text-align: center;
  width: 30%;
  border: 3px solid black;
  position: relative;
  margin-left: 70%;
}
#d3 {
  background-color:#00ffff;
  text-align: center;
  width: 30%;
  border: 3px solid black;
  position: relative;
  margin-left: 70%;
}

/*** Media Query ***/

@@media (max-width: 767px) {
  .box1, .box2, .box3 {
    width: 100%;
    height: 150px;
  }
}

/**** Medium Size Query *****/

@@media (min-width: 768px) and (max-width: 991px) {
  .box1, .box2, .box3 {
    float: left;
  }
  .box1 {
    width: 50%;
    height: 150px;
  }
  .box2 {
    width: 50%;
    height: 150px;
  }
  .box3 {
    width: 90%;
    height: 150px;
  }
}

/***** Large Size Query *****/

@@media (min-width: 992px) {
  .box1, .box2, .box3 {
    float: left;
  }
  .box1 {
  width: 33%;
  height: 150px;
  }
  .box2 {
    width: 33%;
    height: 150px;
  }
  .box3 {
    width: 33%;
    height: 150px;
  }
}
