* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 175%;
}
h4 {
  position: relative;
  left: 70%;
  width: 30%;
  border: 1px solid black;
  text-align: center;
  margin: 0px 0px 5px 0px;
  font-size: 125%;
}
p {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
div {
  background-color: grey;
  border: 1px solid black;
}
section {
  margin-bottom: 15px;
}

 /**** classes and id's ***/

 .d1 {
  background-color: #a52a2a;
}
.d2 {
  background-color: #ff7f50;
}
.d3 {
  background-color: #deb887
}

/*** Media querries ****/

@media (min-width: 992px) {
   #sec1, #sec2, #sec3 {
   width: 33%;
   float: left;
 }
 #sec1 div {
   margin-left: 30px;
 }
 #sec2 div {
   margin-left: 25px;
   }
 #sec3 div {
   margin-left: 20px;
   margin-right: 20px;
 }
}
@media (min-width: 768px) and (max-width: 991px) {
  #sec1, #sec2, #sec3 {
    float: left;
    border: 1px solid back;
  }
  #sec1, #sec2 {
    width: 50%;
}
#sec3 {
  width: 100%;
  margin-top: 15px;
}
  #sec1 div {
    margin-left: 20px;
    margin-right: 10px;
  }
  #sec2 div {
    margin-right: 20px;
    margin-left: 10px;
  }
  #sec3 div {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/**** Mobile View ****/

@media (max-width: 767px) {
  #sec1, #sec2, #sec3 {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .change {
    display: block;
    text-align: center;
  }
}
